html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
    padding: 0;
}

#databasesSection {
    z-index: 100;
}

/* Delete Button */
md-icon.delete svg {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    fill: darkgray;
}

md-icon.delete:hover svg {
    fill: gray;
}

/* Input Container */
.minimum-space {
    margin: 5px;
}

    .minimum-space .md-errors-spacer {
        min-height: 0;
    }

/* List Items */
md-sidenav md-list {
    padding: 0 0 8px 0;
}

md-list-item {
    opacity: 1;
}

md-list .md-list-item-text.selected h3 {
    color: #03a9f4 !important;
}

/* List Items Animations */
md-list-item.ng-enter {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
}

md-list-item.ng-enter-active {
    opacity: 1;
}

/* Columns Editor */
.editable-title input {
    color: #ffffff;
}

#content {
    padding: 0;
}

@media (min-width: 980px) {
    #content md-card {
        margin: 20px 130px;
    }
}

/* Primary Key */
.rotate-key {
    -ms-transform: rotate(135deg); /* IE 9 */
    -webkit-transform: rotate(135deg); /* Chrome, Safari, Opera */
    transform: rotate(135deg);
}

.nofocus:focus {
    outline: none;
}

.key-off {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.7;
}

/* Dialogs */
md-dialog .md-button, .md-tab {
    text-transform: none;
}

md-dialog {
    max-height: 95%;
}

.md-dialog-container {
    z-index: 200;
}

md-dialog.dialog-big md-dialog-content {
    width: 800px;
    max-height: 800px;
    max-width: 100%;
}

md-dialog-content md-progress-circular {
    margin: 20px;
}

/* ACE editors */
.create-statements.ace_editor {
    height: 70px;
}

.generated-objects.ace_editor,
.template-config-file.ace_editor,
.template-file.ace_editor {
    height: 400px;
}